[submodule "src/gnu-efi"]
	path = src/gnu-efi
	url = git@github.com:Absurdponcho/gnu-efi.git
[submodule "src/OVMFbin"]
	path = src/OVMFbin
	url = git@github.com:Absurdponcho/OVMFbin.git
[submodule "src/kernel"]
	path = src/kernel
	url = git@github.com:Absurdponcho/kernel.git
